# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Contentful local creds
content-models/**/.contentfulrc.json

# temp / logs
*.log
*.tgz

# Environment
.env

# (If you’ve ever generated coverage or build output)
coverage/
dist/
